*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav-container {
    background-color:#ff4a09; 
    padding: 10px; 
}

body{
    width: 100%;
    height: 100vh;
    color: aliceblue;
    background-image:url(../Images/img1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav{
    width: 100%;
    height: 10vh;
}

nav .nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo img{
    width: 120px;
    height: 50px;
}

.nav-container .links a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2rem;
    transition: 0.2s linear;
}

.nav-container .links a:hover{
    color:skyblue;
}

.nav-container .links i{
    color: white;
    font-size: 1.7rem;
    margin: 0 20px;
}

section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container{
    width: 35%;
    color: white;
}

.main-container .heading{
    display: flex;
    align-items: top;
}

.heading h1{
    font-size: clamp(1rem, 1rem + 5vw, 7rem);
}

.heading span{
    margin-top: 10px;
    margin-left: 10px;
    font-size: clamp(1rem, 1rem + 5vw, 3rem);
}

.main-container .star{
    color: #ff4a09;
    font-size: 1.3rem;
    margin: -5px 0 20px 0;
}

.main-container p{
    width: 90%;
    margin: 10px 0;
}

.main-container .sizes{
    width: 70%;
    height: 3vh;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container .sizes div{
    border: 3px solid #5e6c9c;
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s linear;
}

.main-container .sizes div:hover{
    background-color: #5e6c9c;
    border: 1px solid white;
}

.main-container button{
    width: 50%;
    height: 6vh;
    margin: 20px 0;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 20px;
    border: 3px solid #ff4a09;
    background-color: transparent;
    color: #ff4a09;
    transition: 0.2s linear;
}

.main-container button:hover{
    background-color: #ff4a09;
    color: white;
    box-shadow: 0 0 10px 1px #ff4a09;
}

.main-container .shoes{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shoes .extra img{
    width: 100px;
    transform: rotate(-30deg);
    filter: drop-shadow(2px 2px 10px white);
    transition: 0.2s linear;
}

.shoes .extra img:hover{
    scale: 1.2;
}
.image img{
    width: 400px;
    height:0%;
    filter: drop-shadow(0 0 200px white);
}

.image{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff; 
    border-radius: 10%; 
    padding: 30px 40px;
}